@{

    string Yperia = "Yperia";
    
}
<footer class="fixed-bottom pb-xl-5 pb-lg-5 pb-md-5 text-center" style="z-index: 0;">
    <div class="mb-2">
        <small>
            @DateTime.MaxValue.Year
            
            © @DateTime.Today.Year made with <i class="fa fa-heart" style="color:red"></i> by - <a target="_blank" rel="noopener noreferrer" href="https://azouaoui.netlify.com">
                @Yperia
            </a>
        </small>
    </div>
    <div>
        <a href="#" target="_blank">
            <img alt="Instagram followers" src="https://img.shields.io/badge/Instagram-E4405F?style=for-the-badge&logo=instagram&logoColor=white" />
        </a>
        <a href="https://www.linkedin.com/company/yperia/" target="_blank">
            <img alt="Linkdin Follow" src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white" />
        </a>
    </div>
</footer>
