

<h2>Veillez saisir les informations de votre entreprise</h2>
<div class="form-group">
    <input type="hidden" class="form-control" value="-1" name="Licence[0].CompanyID">
    <label for="" class="label-input">Nom</label>
    <input type="text" class="form-control" placeholder="ABC SARL" name="Licence[0].tblCompany.Name" title = "champ obligatoire"  required>
</div>
<div class="form-group">
    <label for="" class="label-input">Email</label>
    <input class="form-control" placeholder="example@domain.com" type="email" name="Licence[0].tblCompany.Email" title = "champ obligatoire"  required>
</div>

