
@using Web_App_Licensing.Models.dbContext


@{
    var SubscriptionPacks = new List<SelectListItem>();
    SubscriptionPacks.Add(new SelectListItem { Value = "0", Text = "--select--" });
    tblLicenseType tltModel = (tblLicenseType)ViewData["LicenseTypeSelected"];
    var tspModel = tltModel.tblSubscriptionPack;
    foreach (tblSubscriptionPack tsp in tspModel)
    {

        SubscriptionPacks.Add(new SelectListItem { Value = tsp.ID.ToString(), Text = tsp.Name });
    }
}


<p><label for="" class="label-input">SubscriptionPack</label> @Html.DropDownList("Licence[0].SubscriptionPackID", SubscriptionPacks, new { @class = "form-control", @title = "champ obligatoire", @required = "required" })</p>